:root {
    --primary-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 1%);
        --bg-color: hsl(0, 0%, 100%);
        
        --dark-color: hsl(0, 0%, 0%);
    --white-color:  hsl(224, 71%, 56%);
    --light-grey-color: #ddd8d8;
    --gold-color: #ffb944;
       
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark {

    --text-color: hsla(0, 0%, 43%, 0.918);
    --bg-color: hsl(0, 3%, 21%);
    --bg-card-color: hsl(0, 3%, 79%);
    --white-color: hsl(227, 7%, 24%);
    --light-grey-color: #292828;
    --dark-color: hsl(0, 0%, 100%);

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 1.5em;
    

}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;  
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon{
    margin-right: 0.5em;
    width: 20px;
}
.toggle-theme__text{
    font-size: 0.8rem;
}





:root {
    
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.bgDark { background-color: var(--dark-color); }
.bgLight { background-color: var(--white-color); }
.bgLightGrey { background-color: var(--light-grey-color); }

.colorDark { color: var(--dark-color) !important; }

h1 { font-size: 66px; font-weight: 700; line-height: 80px; }
h2 { font-size: 48px; margin-bottom: 30px; }
h3 { font-size: 33px; }
h5 { margin-bottom: 0px; }

p {
    font-size: 18px;
    color: var(--dark-color);
    opacity: .5;
    line-height: 1.8;
    margin-bottom: 0px;
}

a:hover { text-decoration: none; }

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-primary {
    background-color: var(--dark-color);
    color: var(--white-color);
    border: 2px solid var(--dark-color);
}

.btn-secondary {
    background-color: var(--white-color);
    color: var(--dark-color);
    border: 2px solid var(--white-color);
}

.btn-alternate {
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.btn-primary:hover { background-color: var(--dark-color); border: 2px solid var(--dark-color); }
.btn-secondary:hover { background-color: var(--white-color); color: var(--dark-color); border: 2px solid var(--white-color); }
.btn-secondary:focus { background-color: var(--white-color) !important; outline: none; border: 2px solid var(--white-color) !important; box-shadow: none; }

.logo-brand {
    max-width: 140px;
    min-width: 160px;
}

section { padding: 120px 0; }

.divider { border-bottom: 2px solid var(--light-grey-color); }

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.full-width {
    width: 100%;
}

.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
}

.form-control:focus {
    border: 1px solid var(--dark-color);
    outline: none;
    box-shadow: none;
}

.navbar {
    background-color: var(--white-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px;
}

.nav-link { color: var(--dark-color); }
.nav-link:hover { color: var(--dark-color); }

.navbar-toggler { font-size: 40px; }
.navbar-toggler:focus { outline: none; }

/* //////////////
   Hero
//////////////*/

#hero {
    background-image: linear-gradient(#0E318E, rgba(0, 0, 0, 0.5)), url(../../assets/images/hero.jpg);
    
    background-size: cover;
    padding-top: 80px;
    min-height: 500px;
    
}

#hero p {
    color: var(--white-color);
    
	
	
}

#hero2 {
    background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.5)), url(../../assets/images/hero2.jpg);
    
    background-size: cover;
    padding-top: 80px;
    min-height: 500px;
    
}

#hero p {
    color: var(--white-color);
    
	
	
}

/* //////////////
   Portfolio
//////////////*/

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portfolio-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 20px;
    z-index: 9000;
}

.portfolio-details h2 {
    margin-bottom: 0px;
}

.portfolio-details a h2, .portfolio-details a p {
    color: var(--white-color);
}

/* //////////////
   Members
//////////////*/

.member-container {
    position: relative;
    margin: 10px 0;
}

.member-details {
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    left: 20px;
}

.member-details span {
    font-size: 14px;
}

.member-details i {
    padding: 0 5px;
}

/* //////////////
   Pricing
//////////////*/

.pricing-container {
    margin: 15px 0;
}

.plans {
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
}

.plan-light {
    background-color: var(--white-color);
    border: 2px solid var(--dark-color);
}

.plan-dark {
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    color: var(--white-color);
}

.plans h2 {
    font-size: 70px;
    font-weight: 600;
}

.plans h2 span {
    font-size: 20px;
}

.plans ul {
    list-style-type: square;
}

/* //////////////
   Testimonial
//////////////*/

.carousel {
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: var(--dark-color);
}

.carousel-indicators li {
    background-color: var(--dark-color);
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}

.carousel-control-next, .carousel-control-prev { 
    color: var(--white-color);
    opacity: 1;
    width: 5%;
}

.control-button {
    background-color: var(--dark-color);
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: 20px;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}

.testimonial-user h6 {
    margin-bottom: 0px;
}

.testimonial-user span {
    font-size: 12px;
}

.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}

.rating i {
    color: var(--gold-color);
    font-size: 26px;
}

/* //////////////
   Footer
//////////////*/

footer {
    padding: 80px 0;
    text-align: center;
    color: var(--white-color);
}

footer a {
    color: var(--white-color);
}

footer a:hover {
    color: var(--white-color);
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}



/* //////////////
   Media queries
//////////////*/

@media (max-width: 575.98px) { 
    h1 { font-size: 40px; line-height: normal; }
    .portfolio-details h2 { font-size: 32px; }
    .plans { min-width: unset; padding: 40px; }
    .carousel-item p { font-size: 20px; }

    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .portfolio-details h2 { font-size: 30px; }
    .plans { min-width: unset; padding: 40px 20px;}
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }



/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}